.allign{
    padding-left: 8%;
    padding-top: 15%;
}
.orange{
    color: orange;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.flexible-container{
    display: flex;
    margin: bottom 0px;
    gap: 8%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 1200;
    border-radius: 50px;
    box-shadow: 5px 5px 8px gray;
}
.background-image{
    background-image: url(Frame\ 59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: auto;
    margin-bottom: auto;
}
#image{
    padding-left: 20%;
    padding-top: 5%;
    margin-left: 20%;
    margin-bottom: -1%;
    margin-top: auto;
}
.about-me{
    padding-left: 20%;
    padding-right: 10%;
    margin-top: 6%;
    
}
.my-recipies{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    text-align: center;
}
.my-recipies p{
    padding-left: 20%;
    padding-right: 20%;
}
.para-item{
    width: 200%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 30px;
    box-shadow: 10px 10px 40px gray;
}
.para-item img{
    border-radius: 30px;
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}
.para-item p{
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}
.para-item h2{
    padding-left: 5%;
    padding-right: 5%;
}
.content{
    text-decoration: none;
    padding: 10px 40px;
    color: rgb(2, 1, 1);
    border-radius: 20px;
    box-shadow:  0px 0px 20px 2px #c0c4c7;
    margin: 8em;
    padding: -1em;
}
.content h1{
    padding-left: 150%;
    padding-right: 150%;
    margin-top: 5%;
    text-align: center;
}
.content p{
    padding-left: 150%;
    padding-right: 150%;
    margin-top: 5%;
    text-align:center;
}
.content-two{
    font-size: 10px;
    text-decoration: none;
    display: block;
    padding:5px;font-size:15px;background-color:rgb(14, 12, 24);color:#ffffff;
    text-align: center;
    padding-left: 40%;
    padding-right: 40%;
    margin-top: -5%;

}
.content h4{
    color: indianred;
}
.content-three{
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    font-weight: 1200;
    box-shadow: 5px 5px 20px gray;
}